* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif, system-ui;
    font-size: 1.5rem;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    padding: 15px;
    background-color: #1992d4;
    grid-row: 1 / -1;
    color: white;
    display: grid;
    gap: 35px;
}

.logo {
    display: grid;
    grid-template-columns: 40px 1fr;
    img, h1 {
        align-self: center;
    }
    h1 {
        margin-left: 0.4rem;
        font-size: 1.6rem;
    }
}

a {
    text-decoration: none;
}

.menu {
    display: grid;
    gap: 35px;
    margin-left: 7px;
}

.menu a{
    color: white;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-auto-rows: 40px;
    img,h2 {
        align-self: center;
    }
    img {
        margin-top: -2px;
    }
    h2 {
        font-size: 1.1rem;
        margin-left: 0.7rem;
    }
}

.header {
    background-color: #ffffff;
    grid-column: 2;
    grid-row: 1;
}

.main-content {
    background-color: #e2e8f0;
    padding: 10px;
    grid-column: 2;
    grid-row: -1;
}